<div class="container-big-card">
  <div class="photo-box">
    <img
    src="../../../assets/coverage.png"
    alt="photo placeholder" title="photo"
    >
  </div>
  <div class="title-box">
    <h1><a href="#">Saiu a nova versão do Angular</a></h1>
  </div>
  <div class="description-box">
    <p>
      <a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum ullam, nobis ipsam quas sint eius exercitationem? Perspiciatis voluptatem aliquid, veniam, quisquam sed debitis, quibusdam nulla quasi dolorum odio dolore minima?</a>
    </p>
  </div>
</div>
