<div class="container-small-card">
  <div class="container-small-card-content">
    <div class="photo-box">
      <img
      src="https://th.bing.com/th/id/R.01cd3fc1be768c7febd732b21e561085?rik=mfnU4RZCc8gCLQ&pid=ImgRaw&r=0"
      alt="PHOTO GTA 6" title="GTA 6"
      >
    </div><!--photo-box-->

    <div class="description-box">
      <h1>
        <a href="#">Trailer novo de GTA 6 é anunciado</a>
      </h1>
    </div><!--description-box-->
  </div><!--container-small-card-content-->

  <div class="container-small-card-separator">
    <hr>
  </div><!--container-small-card-separator-->
</div><!--container-small-card-->
