<div class="container-small-card">
  <div class="container-small-card-content">
    <div class="photo-box">
      <img
      src="{{photoCover}}"
      alt="photo" title="photo"
      >
    </div><!--photo-box-->

    <div class="description-box">
      <h1>
        <a [routerLink]="['content',Id]">{{cardTitle}}</a>
      </h1>
    </div><!--description-box-->
  </div><!--container-small-card-content-->

  <div class="container-small-card-separator">
    <hr>
  </div><!--container-small-card-separator-->
</div><!--container-small-card-->
