@media screen and (width <= 1200px) {
  div.container-small-card{
    width: 520px;
  }

  div.description-box h1 a{
    font-size: 18px;
  }
}

@media screen and (width <= 920px) {
  div.container-small-card{
    width: 100%;
    max-width: 96%;
  }

  div.description-box{
    margin-left: 10px;
  }

  div.description-box h1 a{
    font-size: 18px;
  }
}

@media screen and (width <= 470px) {
  div.container-small-card-content{
    flex-direction: column;
  }

  div.description-box{
    margin-left: 10px;
  }

  div.description-box h1 a{
    font-size: 18px;
  }

  .photo-box img{
    width: 100%;
  }
}
