<!--componente que vai agrupar os outros componentes,página inicial-->
<header>
  <app-menu-bar></app-menu-bar>
</header>

<app-menu-title></app-menu-title>

<div class="articles">
  <div class="articles-main">
    <app-big-card
    photoCover="https://th.bing.com/th/id/OIP.1au5fFT_xnKnbKBuNJyqegHaDt?rs=1&pid=ImgDetMain"
    cardTitle="Saiu a nova versão do Angular"
    cardDescription="Nessa nova versão do Angular está disponivel novas features e updates,sua versão é a de número 14"
    ></app-big-card>
  </div>

  <div class="articles-others">
    <app-small-card
    photoCover="https://th.bing.com/th/id/R.01cd3fc1be768c7febd732b21e561085?rik=mfnU4RZCc8gCLQ&pid=ImgRaw&r=0"
    cardTitle="Trailer novo de GTA 6 é anunciado"
    ></app-small-card>

    <app-small-card
    photoCover="https://i.ytimg.com/vi/56Xfv92FHYw/maxresdefault.jpg"
    cardTitle="Let It Go voltou a ser Top 1 no Youtube"
    ></app-small-card>
    
    <app-small-card
    photoCover="https://laverdadnoticias.com/__export/1629126651755/sites/laverdad/img/2021/08/16/demon_slayer_temporada_3_anime.jpg_743561205.jpg"
    cardTitle="Demon Slayer estreia temporada 3"
    ></app-small-card>
  </div>
</div>
